@model IEnumerable<MediationApplication.Models.MeditationSessionDto>

@{
    ViewBag.Title = "Create";
}

<h2>Let's reflect on your meditation!</h2>

<form class="container-fluid" action="/JournalEntry/Create" method="POST">
    <div>
        <label id="session">Session</label>
        <select id="session" type="number" name="SessionID">
            @foreach (var session in Model)
            {
                <option value="@session.SessionID">@session.SessionDate.ToString("dddd, MMMM dd, yyyy")</option>
            }
        </select>
    </div>
    <div>
        <label>Where did you meditate?</label><span class="reqMark">*</span>
        <div>
            <input id="indoor" type="radio" name="Location" value="indoors" data-val="true" data-val-required="Please select a location" />
            <label for="indoor">Indoors</label>

            <input id="outdoor" type="radio" name="Location" value="outdoors" data-val="true" data-val-required="Please select a location" />
            <label for="outdoor">Outdoors</label>

            <span class="field-validation-valid text-danger" data-valmsg-for="Location" data-valmsg-replace="true"></span>
        </div>
    </div>
    <div>
        <label for="moodbefore">How did you feel before meditating?</label><span class="reqMark">*</span>
        <input id="moodbefore" type="text" name="MoodBefore" data-val="true" data-val-required="Please type in a mood!" />

        <span class="field-validation-valid text-danger" data-valmsg-for="MoodBefore" data-valmsg-replace="true"></span>
    </div>
    <div>
        <label for="moodafter">How do you feel now?</label><span class="reqMark">*</span>
        <input id="moodafter" type="text" name="MoodAfter" data-val="true" data-val-required="Please type in a mood!" />

        <span class="field-validation-valid text-danger" data-valmsg-for="MoodAfter" data-valmsg-replace="true"></span>
    </div>
    <div>
        <div>
            <label for="thoughts">What's on your mind?</label>
        </div>
        <textarea id="thoughts" cols="40" rows="10" name="Thoughts"></textarea>
    </div>
    <button class="btn formBtn" type="submit">Add Entry</button>
</form>