@model MediationApplication.Models.MeditationSessionDto

@{
    ViewBag.Title = "DeleteConfirm";
}

<nav class="subNav">
    <a class="backLink" href="/MeditationSession/List">Cancel</a>
</nav>

<div class="delConfirm">
    <h2>Confirm Deletion</h2>

    <p class="delPara">Are you sure you want to delete your meditation session that occured <strong class="delTxt">@Model.SessionDate.ToString("dddd, MMMM dd, yyyy")</strong>?</p>

    <form action="/MeditationSession/Delete/@Model.SessionID" method="POST">
        <button class="btn deleteBtn" type="submit">Confirm Delete</button>
    </form>
</div>