@model IEnumerable<MediationApplication.Models.MeditationSessionDto>
@{
    ViewBag.Title = "List";
}

<nav class="subNav">
    <a class="btn sessionBtn" href="/MeditationSession/New">Add Session</a>
</nav>

<h2>Meditation Sessions</h2>

<div>
    @foreach (var session in Model)
    {
        <h3><a href="/MeditationSession/Details/@session.SessionID">@session.SessionDate.ToString("dddd, MMMM dd, yyyy")</a></h3>
        <div>
            <p>@session.SessionStartTime.ToString("hh:mm tt") to @session.SessionEndTime.ToString("hh:mm tt")</p>
            <p>Duration: @session.SessionDuration</p>
        </div>
    }
</div>
