@model IEnumerable<MediationApplication.Models.MeditationSessionDto>
@{
    ViewBag.Title = "List";
}

<nav class="subNav">
    <a class="btn sessionBtn" href="/MeditationSession/New">Add Session</a>
</nav>

<h2 class="text-center">Meditation Sessions</h2>

<div>
    @foreach (var session in Model)
    {
        <div class="card">
            <h3><a class="card-title" href="/MeditationSession/Details/@session.SessionID">@session.SessionDate.ToString("dddd, MMMM dd, yyyy")</a></h3>
            <div class="card-body">
                <p>Click on the button below to see more details.</p>
                <a class="btn btn-sm listBtn" href="/MeditationSession/Details/@session.SessionID">View Details &rArr;</a>
            </div>
        </div>
    }
</div>
