@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Meditation Tracker</h1>
    <p class="jumbotronTxt">
        Mediation is a great way to re-center yourself and relax your mind. 
        With this application you are to keep track of each session and make journal entries for each one.
    </p>
    <p><a href="#" class="btn sessionBtn btn-lg">Start Meditating &raquo;</a></p>
</div>

<div class="row text-center">
    <div class="col-md-4">
        <h2>Meditation Sessions</h2>
        <p>
            Start tracking your sessions today. All you have to do is fill out a simple form and then you'll be able to see all your meditation sessions.
        </p>
        <p><a class="btn mediBtn" href="/MeditationSession/New">Add Session &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Journal Entries</h2>
        <p>
            Record how your meditation session went and reflect on any feelings you had before or after meditating.
        </p>
        <p><a class="btn mediBtn" href="/JournalEntry/List">View Entries &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Mantras</h2>
        <p>
            The word mantra can be broken down into two parts: “man,” which means mind, and “tra,” which means transport or vehicle. 
            In other words, a mantra is an instrument of the mind—a powerful sound or vibration that you can use to enter a deep state of meditation. 
        </p>
        <p><a class="btn mediBtn" href="/Mantra/List">See List of Mantras &raquo;</a></p>
    </div>
</div>
<div class="row text-center">
    <div class="col-md-4">
        <h2>Meditation Tips</h2>
        <p>
            Check out these tips to help you meditate better!s
        </p>
        <p><a class="btn mediBtn" href="#">View Tips &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Healthy Living</h2>
        <p>
            Check out these Top 10 tricks to start eating healthier, sleeping better, and feeling better.
        </p>
        <p><a class="btn mediBtn" href="/JournalEntry/List">View Post &raquo;</a></p>
    </div>
</div>