@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Meditation Tracker</h1>
    <p class="lead">
        Mediation is a great way to re-center yourself and relax your mind. 
        With this application you are to keep track of each session and make journal entries for each one.
    </p>
    <p><a href="#" class="btn btn-primary btn-lg">Start Meditating &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Meditation Sessions</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="#">Add Session &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Journal Entries</h2>
        <p>
            Record how your meditation session went and reflect on any feelings you had before or after meditating.
        </p>
        <p><a class="btn btn-default" href="#">View Entries &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Mantras</h2>
        <p>
            The word mantra can be broken down into two parts: “man,” which means mind, and “tra,” which means transport or vehicle. 
            In other words, a mantra is an instrument of the mind—a powerful sound or vibration that you can use to enter a deep state of meditation. 
        </p>
        <p><a class="btn btn-default" href="#">See List of Mantras &raquo;</a></p>
    </div>
</div>