body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 300px;
    margin: 15px 0;
}

label {
    margin-right: 5px;
    font-size: 16px;
}

.navBg {
    background-color: #2DC2BD;
}

.logo {
    color: #12664F;
}

.hamburgerBar {
    background-color: #12664F;
}

.subNav {
    padding: 20px 0;
}

.formBtn {
    background-color: #2DC2BD;
    color: #ffffff;
}

.formBtn:hover {
    background-color: #ffffff;
    color: #2DC2BD;
    border: 2px solid #2DC2BD;
}

.deleteLink {
    font-size: 16px;
    color: #ffffff;
    background-color: #A0709E;
    float: right;
    margin-right: 25px;
    border: 2px solid #A0709E;
}

.deleteBtn {
    font-size: 16px;
    color: #ffffff;
    background-color: #A0709E;
    border: 2px solid #A0709E;
}

.deleteLink:hover, .deleteBtn:hover {
    background-color: #ffffff;
    color: #A0709E;
}

.delConfirm {
    text-align: center;
    padding: 50px;
    border: 2px dashed #A0709E;
}

.delPara {
    margin: 25px 0;
    font-size: 18px;
}

.delTxt {
    color: #A0709E;
    font-style: italic;
}

.updateLink {
    font-size: 16px;
    float: right;
}

.backLink {
    color: #61B000;
    font-size: 18px;
}

 .backLink:hover {
     color: #2DC2BD;
 }

.sessionBtn, .updateLink, .updateBtn {
    background-color: #61B000;
    color: #ffffff;
}

.mediBtn {
    background-color: #2DC2BD;
    color: #ffffff;
}

.mediBtn:hover, .sessionBtn:hover, .updateLink:hover, .updateBtn:hover {
    background-color: #FFAC99;
    color: #61B000;
}

.listBtn {
    color: #ffffff;
    background-color: #61B000;
}

.listBtn:hover {
    color: #61B000;
    background-color: #ffffff;
    border: 2px solid #61B000;
}

.jumbotron {
    background-image: url("image/Meditation_Isometric.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: right;
}

.jumbotronTxt {
    width: 65%;
}

.sessionDiv {
    padding: 25px; 
    border-bottom: 1px solid #808080;
}

.card {
    margin: 5px;
    padding: 15px;
    display: inline-block;
    width: 350px;
    border: 2px solid #61B000;
    border-radius: 10px;
}

.card-title {
    color: #3129A3;
    font-style: italic;
}

.card-title:hover {
    color: #61B000;
}

.searchBar {
    float: right;
    clear: both;
}

.entryTxt {
    font-size: 16px;
    font-style: italic;
    color: #808080;
}

h2 {
    color: #12664F;
    text-align: center;
}

h4 {
    padding-top: 15px;
    color: #2DC2BD;
}
