body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navBg {
    background-color: #2DC2BD;
}

.logo {
    color: #12664F;
}

.hamburgerBar {
    background-color: #12664F;
}

.sessionBtn {
    background-color: #61B000;
    color: #ffffff;
}

.mediBtn {
    background-color: #2DC2BD;
    color: #ffffff;
}

.mediBtn:hover, .sessionBtn:hover {
    background-color: #FFAC99;
    color: #12664F;
}

.jumbotron {
    background-image: url("image/Meditation_Isometric.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: right;
}

.jumbotronTxt {
    width: 65%;
}

h2 {
    color: #12664F;
}
