@model MediationApplication.Models.MantraDto

@{
    ViewBag.Title = "Details";
}

<a href="/Mantra/List">Back to List</a>
<a href="/Mantra/Edit/@Model.MantraID">Update Mantra</a>
<a href="/Mantra/DeleteConfirmation/@Model.MantraID">Delete</a>

<h2>@Model.MantraName</h2>