@model MediationApplication.Models.ViewModels.DetailsMantra

@{
    ViewBag.Title = "Details";
}

<a href="/Mantra/List">Back to List</a>
<a href="/Mantra/Edit/@Model.SelectedMantra.MantraID">Update Mantra</a>
<a href="/Mantra/DeleteConfirmation/@Model.SelectedMantra.MantraID">Delete</a>

<h2 class="h2 text-center">@Model.SelectedMantra.MantraName</h2>

<div style="margin-top: 100px;">
    <h3 class="h4">Meditation Sessions that used this Mantra</h3>
    
    @foreach(var session in Model.RelatedSessions)
    {
        <a href="/MeditationSession/Details/@session.SessionID">@session.SessionDate.ToString("dddd, MMMM dd, yyyy")</a>
    }
</div>