@model MediationApplication.Models.MantraDto

@{
    ViewBag.Title = "Edit";
}

<nav class="subNav">
    <a class="backLink" href="/Mantra/List">Cancel</a>
</nav>

<h2>Update a Mantra</h2>

<form action="/Mantra/Update/@Model.MantraID" method="POST">
    <div style="display: none;">
        <input type="number" name="MantraID" value="@Model.MantraID" />
    </div>
    <div>
        <label for="mantraname">Mantra Name</label><span class="reqMark">*</span>
        <input id="mantraname" type="text" name="MantraName" value="@Model.MantraName" />
    </div>
    <button class="btn updateBtn" type="submit">Update Mantra</button>
</form>