@model IEnumerable<MediationApplication.Models.MantraDto>
@{
    ViewBag.Title = "List";
}

<nav class="subNav">
    <a class="btn sessionBtn" href="/Mantra/New">Add Mantra</a>
</nav>

<h2>Mantras</h2>

<div>
    @foreach( var mantra in Model )
    {
        <h3><a href="/Mantra/Details/@mantra.MantraID">@mantra.MantraName</a></h3>
    }
</div>