
@{
    ViewBag.Title = "Create";
}

<nav class="subNav">
    <a class="btn sessionBtn" href="/Mantra/List">Cancel</a>
</nav>

<h2>Add a Mantra</h2>

<form class="container-fluid" action="/Mantra/Create" method="POST">
    <div>
        <label for="mantraname">Name</label><span class="reqMark">*</span>
        <input id="mantraname" type="text" name="MantraName" data-val="true" data-val-required="Please type in a mantra" />

        <span class="field-validation-valid text-danger" data-valmsg-for="MantraName" data-valmsg-replace="true"></span>
    </div>
    <button class="btn formBtn" type="submit">Add Mantra</button>
</form>