
@{
    ViewBag.Title = "Create";
}

<h2>Add a Mantra</h2>

<form class="container-fluid"" action="/Mantra/Create" method="POST">
    <div>
        <label for="mantraname">Name</label>
        <input id="mantraname" type="text" name="MantraName" />
    </div>
    <button class="btn formBtn" type="submit">Add Mantra</button>
</form>